body {
  background: #ff6e7f; 
  background: -webkit-linear-gradient(to left, #bfe9ff, #ff6e7f);
  background: linear-gradient(to left, #bfe9ff, #ff6e7f); 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
